<div class="container-main">
  <div class="flex-column">
    <div class="row-line">
      <app-notify-service
        class="left-element"
        (eventMessageIdEvent)="childMessageIdEventEmitting($event)">
      </app-notify-service>
      <app-enter-events
        class="right-element"
        (eventSchedulledEvent)="childSchedulledEventEmitting($event)">
      </app-enter-events>
    </div>
    <div class="is-time-class">
      <app-is-time-events
        class="center"
        #childComponent
        [schedulledEventEmitted]="schedulledEvent"
        (click)="childComponent.addToList(schedulledEvent)"
        [messageIdEmitted]="messageId">
      </app-is-time-events>
    </div>
  </div>
</div>
