.container-main {
  width: 95%;
  height: 90%;
  margin: 30px 30px 30px 30px;
  border: 5px solid gainsboro;
  border-radius: 5px;
  padding: 30px 30px 30px 30px;
}

.row-line {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-element {
  flex-grow: 1;
}

.right-element {
  flex-grow: 1;
}

.is-time-class {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 15px;
}

.center {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-column {
  height: 100%;
  display: flex;
}
