table, td, th {
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 800px;
  display: flex;
  flex-direction: column;
}

th, td {
  padding: 15px;
}

tbody, thead tr {
  display: block;
}

tbody {
  height: 250px;
}

.tbody {
  overflow-y: auto;
  overflow-x: hidden;
}

tbody td:nth-child(1), thead th:nth-child(1) {
  width: 150px;
}

tbody td:nth-child(2), thead th:nth-child(2) {
  width: 150px;
}

tbody td:nth-child(3), thead th:nth-child(3) {
  width: 300px;
}
tbody td:nth-child(4), thead th:nth-child(4) {
  width: 200px;
}

td {
  width: 10px;
}

tr:hover {
  background: #ddd;
}

.thead .th:last-child {
  width: 214px;
}
